<section>
  <div class="contanier_about">
      <div>
        <h1>ABOUT BOOKSESTORE</h1><br>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pharetra mauris ac justo bibendum,
						sed dictum massa feugiat. Nam vehicula convallis lacinia. Morbi tempus sed sapien quis imperdiet.
						Proin convallis tincidunt lorem, non posuere lectus. Ut at sapien diam. Proin non enim commodo,
						dignissim dui eget, dictum nisi. Ut ornare hendrerit vestibulum. Nam in lacus dui. Pellentesque
						vulputate magna pharetra odio lobortis tempus. Pellentesque habitant morbi tristique senectus
						et netus et malesuada fames ac turpis egestas. Vivamus vehicula a arcu in accumsan. In in tellus
						sapien. In ut nisl vitae nisi tincidunt egestas. Maecenas nulla est, pharetra in risus et,
						lacinia elementum enim. Cras rutrum augue vel diam pellentesque, vel varius lacus interdum.
						Aliquam erat volutpat. Nunc cursus sodales mi, non auctor erat volutpat eu. Donec elit mauris,
						fermentum ac nulla in, placerat pulvinar erat. Vestibulum quam magna, commodo id ante id,
						iaculis venenatis enim. Suspendisse rhoncus porta felis quis gravida. Nunc gravida odio a ornare
						placerat. Fusce efficitur faucibus cursus. Mauris efficitur lacinia leo, a porta orci mollis id.
						Fusce molestie libero ut aliquam maximus. Fusce faucibus mauris quis erat dictum, id euismod arcu
						interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eros lorem, hendrerit
						ac euismod id, facilisis non magna. Sed ut augue risus Vivamus vulputate augue id diam gravida tincidunt.
						Etiam at feugiat lorem. Mauris eget dolor vestibulum, accumsan magna ac, condimentum justo.
          </p>
        </div>
    <div class="contanier_img">
      <img src="/assets/book1.jpg" alt="livros">
    </div>
	</div>
</section>

<app-footer></app-footer>
