<section>
  <div class="contanier_product">
		<div class="contanier_img2">
      <img src="{{bookCover}}" alt="capa do livro">
    </div>
		<div class="contanier_img">
      <img src="{{bookCover}}" alt="capa do livro">
    </div>
      <div>
        <h1>{{bookTitle}}</h1>
					<p>{{bookAuthor}}</p>
          <p class="book_price">R$ {{bookPrice}}</p>
					<p class="book_type">{{bookType}}</p>
					<p class="book_description">Description: {{bookDescriprion}}</p>
					<button class="button">COMPRAR</button>
        </div>
	</div>
</section>

<app-footer></app-footer>


