<div class="contanier_resume">
	<div>
		<h1>Work with us</h1>
	</div>
	<div>
		<app-form></app-form>
	</div>
	<div class="list-contanier">
		<h1>List of resumes </h1>
		<ul class="list-group" *ngIf="service.list && service.list.length > 0">
			<li *ngFor="let item of service.list"
				class="list-group-item d-flex justify-content-between align-items-start mb-2 border px-4 py-3 rounded-3">
					<div class="flex-grow-1">
						<div class="fw-bold">{{item.fullName}}</div>
						<div>{{item.email}}</div>
						<div>{{item.phoneNumber}}</div>
						<div>{{item.description}}</div>
					</div>
				<button (click)="onDelete(item.id)" class="mouse-hover">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
					<path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
					</svg>
				</button>
			</li>
		</ul>
	</div>
</div>
