<div class="home__container">
	<app-card
		id="1"
		bookCover="assets/img1.png"
		bookTitle="A SELEÇÃO"
		bookLabel="ROMANCE"
		bookType="romance | ficção"
		bookPrice="R$ 29,99"
	>
	</app-card>
	<app-card
		id="2"
		bookCover="assets/img2.png"
		bookTitle="A ELITE"
		bookLabel="ROMANCE"
		bookType="romance"
		bookPrice="R$ 29,99"
	>
	</app-card>
	<app-card
		id="3"
		bookCover="assets/img4.png"
		bookTitle="A SEREIA"
		bookLabel="Ficção"
		bookType="Ficção Juvenil"
		bookPrice="R$ 39,99"
	>
	</app-card>
	<app-card
		id="4"
		bookCover="assets/img5.png"
		bookTitle="A ESCOLHA"
		bookLabel="ROMANCE"
		bookType="romance"
		bookPrice="R$ 29,99"
	>
	</app-card>
	<app-card
		id="5"
		bookCover="assets/img6.png"
		bookTitle="A HERDEIRA"
		bookLabel="Ficção"
		bookType="romance | Ficção Juvenil"
		bookPrice="R$ 49,99"
	>
	</app-card>
	<app-card
		id="6"
		bookCover="assets/img7.png"
		bookTitle="estilhaça-me"
		bookLabel="romance"
		bookType="Ficção Juvenil"
		bookPrice="R$ 29,99"
	>
	</app-card>
	<app-card
		id="7"
		bookCover="assets/img9.png"
		bookTitle="incendeia-me"
		bookLabel="Ficção"
		bookType="romance"
		bookPrice="R$ 59,99"
	>
	</app-card>
	<app-card
		id="8"
		bookCover="assets/img10.png"
		bookTitle="restaura-me"
		bookLabel="Ficção"
		bookType="Ficção Juvenil"
		bookPrice="R$ 29,99"
	>
	</app-card>
	<app-card
		id="9"
		bookCover="assets/img11.png"
		bookTitle="imagina-me"
		bookLabel="romance"
		bookType="Ficção Juvenil"
		bookPrice="R$ 29,99"
	>
	</app-card>
	<app-card
		id="10"
		bookCover="assets/img12.png"
		bookTitle="desafia-me"
		bookLabel="Ficção"
		bookType="Ficção"
		bookPrice="R$ 29,99"
	>
	</app-card>
	<app-card
		id="11"
		bookCover="assets/img13.png"
		bookTitle="liberta-me"
		bookLabel="romance"
		bookType="Ficção Juvenil | romance"
		bookPrice="R$ 29,99"
	>
	</app-card>
	<app-card
		id="14"
		bookCover=""
		bookTitle="em breve"
		bookLabel="new"
		bookType="romance"
		bookPrice="R$ 0,00"
	>
	</app-card>
	<app-card
		id="12"
		bookCover="assets/img8.png"
		bookTitle="divergente"
		bookLabel="Ficção"
		bookType="Ficção Juvenil"
		bookPrice="R$ 29,99"
	>
	</app-card>
	<app-card
		id="13"
		bookCover=""
		bookTitle="em breve"
		bookLabel="new"
		bookType="Ficção Juvenil | romance"
		bookPrice="R$ 0,00"
	>
	</app-card>
	<app-card
		id="14"
		bookCover=""
		bookTitle="em breve"
		bookLabel="new"
		bookType="Ficção Juvenil | romance"
		bookPrice="R$ 0,00"
	>
	</app-card>

</div>

<app-footer></app-footer>
